<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
</head>

<body>
  {{> @partial-block }}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi minima quo fugiat incidunt cupiditate quaerat, placeat, laudantium explicabo voluptates quasi sequi quibusdam eligendi voluptatibus debitis dicta veritatis, obcaecati inventore quam.</p>
</body>
</html>


