
$core-font-family__archivonarrow-medium:              'archivo_narrowmedium' !default;
$core-font-family__archivonarrow-regular:             'archivo_narrowregular' !default;

@font-face {
  font-family: $core-font-family__archivonarrow-medium;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Archivo Narrow'), local('Archivo Narrow Medium'), local('archivonarrow-medium'),
  url('#{$core__path--fonts}/archivo_narrow/archivonarrow-medium.woff2') format('woff2'),
  url('#{$core__path--fonts}/archivo_narrow/archivonarrow-medium.woff') format('woff');
}

@if variable-exists(web-fonts) {
  $web-fonts: map-merge($web-fonts, ("archivo_narrow": "#{$core__path--fonts}/archivo_narrow/archivonarrow-medium.woff2"));
}

@font-face {
  font-family: $core-font-family__archivonarrow-regular;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Archivo Narrow'), local('Archivo Narrow Bold'), local('archivonarrow-regular'),
  url('#{$core__path--fonts}/archivo_narrow/archivonarrow-regular.woff2') format('woff2'),
  url('#{$core__path--fonts}/archivo_narrow/archivonarrow-regular.woff') format('woff');
}

@if variable-exists(web-fonts) {
  $web-fonts: map-merge($web-fonts, ("archivonarrow-regular": "#{$core__path--fonts}/archivo_narrow/archivonarrow-regular.woff2"));
}

